<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="Free HTML Templates" name="keywords">
	<meta content="Free HTML Templates" name="description">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/admin/addDoctor.css">
	<link rel="icon" href="/images/logo.png" type="image/icon type" />


	<title>AdminHub</title>
</head>

<body>
	<section th:replace="fragments/adminSidebar :: adminSidebar"></section>
	<!-- CONTENT -->
	<section id="content">
		<nav th:replace="fragments/adminNavbar :: adminNavbar"></nav>

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="index.html">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
						<h3 th:text="${bookings.size() > 0 ? bookings.size() : '0'}"></h3>
						<p>New Appointments</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group'></i>
					<span class="text">
						<h3 th:text="${patientCount}"></h3>
						<p>Patients</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle'></i>
					<span class="text">
						<h3 th:text="${bookings.size() * 100}"></h3>
						<p>Total Sales</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Appointements</h3>
						<i class='bx bx-search'></i>
						<i class='bx bx-filter'></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>Patient</th>
								<th>Appointment Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="booking : ${bookings}">
								<td>
									<img src="/images/profile.jpg" alt="profile">
									<p th:text="${booking.user.name}">John Doe</p>
									 <!--  don't know how to link the date with the patient name yet -->
								</td>
								<td th:text="${booking.date}">01-10-2021</td>
							</tr>
						
							<!-- <tr th:if="${booking.size() == 0}">
								<td colspan="2">No appointments</td>
							</tr> -->
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
</body>

</html>