<html>

<body>
    <nav th:fragment="userHeader">
        <i class='bx bx-menu'></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search' title="submit"></i></button>
            </div>
        </form>
        <a th:href="@{/user/profile}" class="profile"><img src="/images/profile.jpg" title="img"></a>
    </nav>
</body>

</html>