<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <nav th:fragment="doctorNavbar">
        <i class='bx bx-menu' ></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn" title="submit"><i class='bx bx-search' ></i></button>
            </div>
        </form>
        <a th:href="@{/doctor/Profile}" class="profile">
            <img src="/images/profile.jpg" alt="profile">
        </a>
    </nav>
</body>

</html>